# PV Influencer Analysis

Simple script to determine who is the best influencer in PV.

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import math
import matplotlib.pyplot as plt
from scipy import stats
from statsmodels.graphics.regressionplots import abline_plot

In [9]:
recruitment = pd.read_csv("recruitment2.csv")

In [10]:
# drop na values here to make life easier later
recruitment = recruitment.dropna(subset = ['3a) If you know anyone from Protégé Ventures, please select their name(s) here!'])

# now change the values into a list
influencer = recruitment['3a) If you know anyone from Protégé Ventures, please select their name(s) here!'].values.tolist()

Clean the list to remove nan values:

In [11]:
# now change all the values to lowercase and remove spaces
for value in range(len(influencer)):
    # changing all to lowercase
    influencer[value] = influencer[value].lower()
    # removing whitespaces
    influencer[value] = influencer[value].replace(" ", "")

In [12]:
# now remove random nil values
for value in influencer:
    
    if str(value) == '-':
        influencer.remove(value)
        
    elif value == 'nil':
        influencer.remove(value)
        
    elif value == '...':
        influencer.remove(value)
    
    elif value == "no):":
        influencer.remove(value)
        
    elif value == "n/a.":
        influencer.remove(value)
    
    elif value == "none":
        influencer.remove(value)
        
    elif value == 'nil.':
        influencer.remove(value)

In [13]:
namelist = []

for name in influencer:
    
    name = name.split(",")
    namelist.extend(name)

In [18]:
nametable = []

for name in namelist:
    # if the name is already in nametable just move on
    if name in nametable:
        # then continue
        continue
    # else if dont have
    else:
        # append name to nametable
        nametable.append(name)         
# create a dictionary from the names
name_table = dict.fromkeys(nametable)

In [19]:
name_table

{'jarodanddaniel': None,
 'vincentwong(casualfriend)': None,
 'daniellam(colleagueinbridgesforenterprise)': None,
 'mark': None,
 'phyllis': None,
 'jarodhong': None,
 'jiehuitan': None,
 'chialerchan': None,
 'makweizheng': None,
 'keithtan': None,
 "no..butidon'tmindmeetingnewfriends": None,
 'dongyue': None,
 'no):': None,
 'nicholaskoh': None,
 'guythatpointedmetokeyresourcesbackwheniwasstillexploring;alsomettomithyonce': None,
 'foranbookprojectinterviewthatidid.': None,
 'sorryno!myfriendkeanewastheonethatforwardedthistomeontelegram!': None,
 'wangdongyue': None,
 'ngyiming': None,
 'aloysiustoh(formerprincipalatprotégé)': None,
 'andnoeltan(founderofcluckinggood)': None,
 'benjaminkoh': None,
 'rahulpaleja': None,
 'jaryllim': None,
 'michaelsun': None,
 'lionelllol': None,
 'richard.myjuniorfromeyeandiheardaboutprotégéventuresfromhim': None,
 'darius': None,
 'jeraldlow': None,
 'augustinethia': None,
 'heanshuen': None,
 'brianchng': None,
 'marcuschioh': None,
 'heanshuen&nicholaskoh': None,
 '...': None,
 'keithtsou': None,
 'clarence': None,
 'nathanielling': None,
 'none': None,
 'tangentiallyknowlionelllohfrombatch2017/18': None,
 'banshenho': None,
 'nil': None,
 'jaryllimandmarcuschan': None,
 'teezhizhang': None,
 'richardyap': None,
 'sorry': None,
 'idonotknowanyone.': None,
 'hobanshen': None,
 'yaptzirichard': None,
 'mitchellmingkai': None,
 'mikesun': None,
 'clarenceong': None,
 'dariuscheong': None,
 'siao-weichia': None,
 'zhangshenjia': None,
 'vincentwong': None,
 'rahulpaleja(onlyconnectedonlinkedin)': None,
 'taohuang(whomimentionedinquestion2f)': None,
 'ngyiming(seniorfromrivervalleyhigh': None,
 'wewereinchoir)': None,
 'issackwa': None,
 'ntuitive': None,
 "idon'tknowanyoneinthelist": None,
 'ifoundoutaboutprotegeventurethroughafriendjoeleeandeventuallyfoundmorealignmentwiththeclubthroughspeakingmorewithamentorofmine(randallsie)': None,
 'chanchialer': None,
 'phyllischua': None,
 'benedictchong': None,
 'marcuswan': None,
 'howelau': None,
 'ruiqingxu': None,
 'benedictng': None}

In [20]:
namelist

['jarodanddaniel',
 'vincentwong(casualfriend)',
 'daniellam(colleagueinbridgesforenterprise)',
 'mark',
 'phyllis',
 'jarodhong',
 'jiehuitan',
 'chialerchan',
 'makweizheng',
 'keithtan',
 "no..butidon'tmindmeetingnewfriends",
 'dongyue',
 'no):',
 'nicholaskoh',
 'guythatpointedmetokeyresourcesbackwheniwasstillexploring;alsomettomithyonce',
 'foranbookprojectinterviewthatidid.',
 'sorryno!myfriendkeanewastheonethatforwardedthistomeontelegram!',
 'wangdongyue',
 'ngyiming',
 'aloysiustoh(formerprincipalatprotégé)',
 'andnoeltan(founderofcluckinggood)',
 'benjaminkoh',
 'rahulpaleja',
 'jaryllim',
 'michaelsun',
 'dongyue',
 'rahulpaleja',
 'lionelllol',
 'richard.myjuniorfromeyeandiheardaboutprotégéventuresfromhim',
 'darius',
 'jeraldlow',
 'augustinethia',
 'heanshuen',
 'brianchng',
 'marcuschioh',
 'dongyue',
 'heanshuen&nicholaskoh',
 '...',
 'keithtsou',
 'clarence',
 'nathanielling',
 'none',
 'tangentiallyknowlionelllohfrombatch2017/18',
 'banshenho',
 'nil',
 'jaryllimandmarcuschan',
 'wangdongyue',
 'teezhizhang',
 'richardyap',
 'sorry',
 'idonotknowanyone.',
 'nil',
 'rahulpaleja',
 'jeraldlow',
 'teezhizhang',
 'hobanshen',
 'keithtan',
 'benjaminkoh',
 'nicholaskoh',
 'wangdongyue',
 'nicholaskoh',
 'teezhizhang',
 'teezhizhang',
 'yaptzirichard',
 'keithtan',
 'mitchellmingkai',
 'mikesun',
 'teezhizhang',
 'yaptzirichard',
 'clarenceong',
 'dariuscheong',
 'jarodhong',
 'siao-weichia',
 'yaptzirichard',
 'mikesun',
 'teezhizhang',
 'dariuscheong',
 'jarodhong',
 'teezhizhang',
 'zhangshenjia',
 'vincentwong',
 'rahulpaleja',
 'rahulpaleja(onlyconnectedonlinkedin)',
 'taohuang(whomimentionedinquestion2f)',
 'ngyiming(seniorfromrivervalleyhigh',
 'wewereinchoir)',
 'issackwa',
 'wangdongyue',
 'rahulpaleja',
 'hobanshen',
 'rahulpaleja',
 'keithtan',
 'ntuitive',
 'nicholaskoh',
 "idon'tknowanyoneinthelist",
 'wangdongyue',
 'wangdongyue',
 'benjaminkoh',
 'dariuscheong',
 'nil',
 'ifoundoutaboutprotegeventurethroughafriendjoeleeandeventuallyfoundmorealignmentwiththeclubthroughspeakingmorewithamentorofmine(randallsie)',
 'chanchialer',
 'dariuscheong',
 'dariuscheong',
 'benjaminkoh',
 'yaptzirichard',
 'nicholaskoh',
 'phyllischua',
 'phyllischua',
 'nil',
 'jaryllim',
 'benedictchong',
 'yaptzirichard',
 'chanchialer',
 'zhangshenjia',
 'jarodhong',
 'teezhizhang',
 'yaptzirichard',
 'mikesun',
 'wangdongyue',
 'yaptzirichard',
 'jarodhong',
 'marcuswan',
 'howelau',
 'teezhizhang',
 'benedictchong',
 'rahulpaleja',
 'nicholaskoh',
 'teezhizhang',
 'ruiqingxu',
 'dariuscheong',
 'ruiqingxu',
 'mikesun',
 'benjaminkoh',
 'dariuscheong',
 'keithtan',
 'rahulpaleja',
 'vincentwong',
 'dariuscheong',
 'jarodhong',
 'benedictng']

In [21]:
# use the name list as a loop to check 
for i in name_table:
    # initialize a count 
    count = 0
    # now use this loop to check the table name and the namelist if it matches
    for names in namelist:
        # now if the name equals the name in the table
        if i == names:
            # add to the count value
            count = count + 1
    # add the final count to the dictionary
    name_table[i] = count

name_table

{'jarodanddaniel': 1,
 'vincentwong(casualfriend)': 1,
 'daniellam(colleagueinbridgesforenterprise)': 1,
 'mark': 1,
 'phyllis': 1,
 'jarodhong': 6,
 'jiehuitan': 1,
 'chialerchan': 1,
 'makweizheng': 1,
 'keithtan': 5,
 "no..butidon'tmindmeetingnewfriends": 1,
 'dongyue': 3,
 'no):': 1,
 'nicholaskoh': 6,
 'guythatpointedmetokeyresourcesbackwheniwasstillexploring;alsomettomithyonce': 1,
 'foranbookprojectinterviewthatidid.': 1,
 'sorryno!myfriendkeanewastheonethatforwardedthistomeontelegram!': 1,
 'wangdongyue': 7,
 'ngyiming': 1,
 'aloysiustoh(formerprincipalatprotégé)': 1,
 'andnoeltan(founderofcluckinggood)': 1,
 'benjaminkoh': 5,
 'rahulpaleja': 8,
 'jaryllim': 2,
 'michaelsun': 1,
 'lionelllol': 1,
 'richard.myjuniorfromeyeandiheardaboutprotégéventuresfromhim': 1,
 'darius': 1,
 'jeraldlow': 2,
 'augustinethia': 1,
 'heanshuen': 1,
 'brianchng': 1,
 'marcuschioh': 1,
 'heanshuen&nicholaskoh': 1,
 '...': 1,
 'keithtsou': 1,
 'clarence': 1,
 'nathanielling': 1,
 'none': 1,
 'tangentiallyknowlionelllohfrombatch2017/18': 1,
 'banshenho': 1,
 'nil': 4,
 'jaryllimandmarcuschan': 1,
 'teezhizhang': 10,
 'richardyap': 1,
 'sorry': 1,
 'idonotknowanyone.': 1,
 'hobanshen': 2,
 'yaptzirichard': 7,
 'mitchellmingkai': 1,
 'mikesun': 4,
 'clarenceong': 1,
 'dariuscheong': 8,
 'siao-weichia': 1,
 'zhangshenjia': 2,
 'vincentwong': 2,
 'rahulpaleja(onlyconnectedonlinkedin)': 1,
 'taohuang(whomimentionedinquestion2f)': 1,
 'ngyiming(seniorfromrivervalleyhigh': 1,
 'wewereinchoir)': 1,
 'issackwa': 1,
 'ntuitive': 1,
 "idon'tknowanyoneinthelist": 1,
 'ifoundoutaboutprotegeventurethroughafriendjoeleeandeventuallyfoundmorealignmentwiththeclubthroughspeakingmorewithamentorofmine(randallsie)': 1,
 'chanchialer': 2,
 'phyllischua': 2,
 'benedictchong': 2,
 'marcuswan': 1,
 'howelau': 1,
 'ruiqingxu': 2,
 'benedictng': 1}

In [27]:
finaltable = pd.DataFrame([name_table])
finaltable = finaltable.transpose().reset_index()
finaltable.columns = ['name', 'count']

In [28]:
finaltable

                                          name  count
0                               jarodanddaniel      1
1                    vincentwong(casualfriend)      1
2   daniellam(colleagueinbridgesforenterprise)      1
3                                         mark      1
4                                      phyllis      1
..                                         ...    ...
66                               benedictchong      2
67                                   marcuswan      1
68                                     howelau      1
69                                   ruiqingxu      2
70                                  benedictng      1

[71 rows x 2 columns]

In [29]:
finaltable.to_csv(r'C:\Users\User\OneDrive\Documents\Student Life\Protege Ventures\Data Science\Recruitment\influencers.csv', index = False)